<div *ngIf="assessmentProgress && isShow" class="assessment_card">
  <div class="chart-title">Assessment {{assessmentProgress.totalAnsPillar ==14 ? 'Completed':'Progress'}}</div>
  <div class="assessment_card_inner">
    <div id="card">
      <div id="chart" *ngIf="chartOptions?.series">
        <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
          [plotOptions]="chartOptions.plotOptions!" [labels]="chartOptions.labels!" [stroke]="chartOptions.stroke!"
          [fill]="chartOptions.fill!"></apx-chart>
      </div>
    </div>
  </div>

  <div class="assessmentdata">
    <span class="assessmentdata-label">Domain Submitted</span>
    <span class="assessmentdata-value">{{assessmentProgress.totalAnsPillar}} / {{assessmentProgress.totalPillar}}</span>
  </div>
  <div class="assessmentdata">
    <span class="assessmentdata-label">Questions Answered</span>
    <span class="assessmentdata-value">{{assessmentProgress.totalAnsQuestion}} / {{assessmentProgress.totalQuestion}}</span>
  </div>
</div>