.inner_div {
    grid-gap: 20px;
}

.kpi_compare_select {
    min-width: 272px !important;
}

@media only screen and (max-width:1440px){
    .heading_area .input_field {
        flex: unset;
    }
    .header_btns{
        justify-content: flex-end;
    }
}

@media only screen and (max-width:1339px){
    .header_btns{
        justify-content: flex-start;
    }
    .custom_gap {
        grid-gap: 20px !important;
    }
}

