<div class="hs-dashboard eval-dash" *ngIf="!isLoader">
	<div class="ami-kpi-strip">
		<div class="hs-kpi-card">
			<div class="hs-kpi-icon"><i class="bi bi-globe2"></i></div>
			<div>
				<div class="hs-kpi-label">Total Countries</div>
				<div class="hs-kpi-value">{{ countryHistory?.totalCountry ?? 0 }}</div>
				<div class="hs-kpi-sub">Assigned countries</div>
			</div>
		</div>
		<div class="hs-kpi-card">
			<div class="hs-kpi-icon"><i class="bi bi-clipboard2-check"></i></div>
			<div>
				<div class="hs-kpi-label">Active</div>
				<div class="hs-kpi-value">{{ countryHistory?.activeCountry ?? 0 }}</div>
				<div class="hs-kpi-sub">Active assessments</div>
			</div>
		</div>
		<div class="hs-kpi-card">
			<div class="hs-kpi-icon"><i class="bi bi-hourglass-split"></i></div>
			<div>
				<div class="hs-kpi-label">In Progress</div>
				<div class="hs-kpi-value">{{ countryHistory?.inprocessCountry ?? 0 }}</div>
				<div class="hs-kpi-sub">Manual in progress</div>
			</div>
		</div>
		<div class="hs-kpi-card">
			<div class="hs-kpi-icon"><i class="bi bi-check2-all"></i></div>
			<div>
				<div class="hs-kpi-label">Completed</div>
				<div class="hs-kpi-value">{{ countryHistory?.compeleteCountry ?? 0 }}</div>
				<div class="hs-kpi-sub">Manual completed</div>
			</div>
		</div>
	</div>

	<div class="hs-controls">
		<div class="hs-controls-left">
			<div class="hs-field">
				<label>Select Country *</label>
				<ng-select [items]="countries"
					[searchable]="true"
					[placeholder]="selectedCountries == '' ? 'Select Country' : ''"
					[(ngModel)]="selectedCountries"
					(change)="onCountrySelected()"
					bindValue="countryID"
					bindLabel="countryName"
					class="form-control analyst_multi_select">
					<ng-template ng-label-tmp let-item="item">
						{{ item.countryName }} ({{item?.assignedBy || ''}})
					</ng-template>
					<ng-template ng-option-tmp let-item="item">
						{{ item.countryName }}, {{ item.continent }} ({{item?.assignedBy || ''}})
					</ng-template>
				</ng-select>
			</div>
			<div class="hs-field">
				<label>Select Year *</label>
				<ng-select
					[items]="commonService.applicateYears"
					[(ngModel)]="selectedYear"
					(change)="yearChanged()"
					[clearable]="false"
					[searchable]="false"
					name="selectedYear"
					class="form-control analyst_multi_select">
				</ng-select>
			</div>
		</div>
		<div class="hs-actions">
			<button *ngIf="countryQuestionHistoryResponse?.pillars?.length"
				type="button"
				class="hs-btn hs-btn-solid"
				[matTooltip]="'Export domain details'"
				(click)="exportCountryPillar()">
				Export
				<i class="bi bi-download"></i>
			</button>
		</div>
	</div>

	<div class="hs-grid-2">
		<div class="hs-panel">
			<div class="hs-panel-title">
				<span><i class="bi bi-graph-up"></i> Manual Score Overview</span>
				<div class="hs-legend">
					<span><span class="hs-dot hs-dot-gold"></span> Manual Score</span>
				</div>
			</div>
			<div class="hs-chart-host" *ngIf="chartPillarOptions?.series?.length; else emptyPillar">
				<apx-chart
					[series]="chartPillarOptions!.series!"
					[chart]="chartPillarOptions!.chart!"
					[xaxis]="chartPillarOptions!.xaxis!"
					[yaxis]="chartPillarOptions!.yaxis!"
					[colors]="chartPillarOptions!.colors!"
					[tooltip]="chartPillarOptions!.tooltip!"
					[plotOptions]="chartPillarOptions!.plotOptions || {}"
					[legend]="chartPillarOptions!.legend!"
					[fill]="chartPillarOptions!.fill || {}"
					[dataLabels]="chartPillarOptions!.dataLabels!"
					[stroke]="chartPillarOptions!.stroke!"
					[markers]="chartPillarOptions!.markers!"
					[grid]="chartPillarOptions!.grid!">
				</apx-chart>
			</div>
			<ng-template #emptyPillar>
				<div class="ami-empty">Select a country to view performance scores.</div>
			</ng-template>
		</div>

		<div class="hs-panel">
			<div class="hs-panel-title">
				<span><i class="bi bi-pie-chart"></i> Country Overview</span>
			</div>
			<div class="hs-chart-host" *ngIf="chartOptions?.series?.length; else emptyRadial">
				<apx-chart
					[series]="chartOptions!.series!"
					[chart]="chartOptions!.chart!"
					[plotOptions]="chartOptions!.plotOptions!"
					[labels]="chartOptions!.labels!"
					[legend]="chartOptions!.legend!"
					[colors]="chartOptions!.colors!">
				</apx-chart>
			</div>
			<ng-template #emptyRadial>
				<div class="ami-empty">Country overview will appear here.</div>
			</ng-template>
		</div>
	</div>
</div>

<div *ngIf="isLoader" class="loader_main">
	<div class="loader"></div>
</div>
