<div class="hs-dashboard country-user-dash" *ngIf="!isLoader">
	<div class="hs-controls">
		<div class="hs-controls-left">
			<div class="hs-field">
				<label>Select Country *</label>
				<ng-select
					[items]="countries"
					[searchable]="true"
					[placeholder]="selectedCountryID ? '' : 'Select Country'"
					[(ngModel)]="selectedCountryID"
					(change)="onCountryChanged()"
					bindValue="countryID"
					bindLabel="countryName"
					class="form-control analyst_multi_select">
					<ng-template ng-option-tmp let-item="item">
						{{ item.countryName }}<span *ngIf="item.continent">, {{ item.continent }}</span>
					</ng-template>
				</ng-select>
			</div>
			<div class="hs-field">
				<label>Select Year *</label>
				<ng-select
					[items]="commonService.applicateYears"
					[(ngModel)]="selectedYear"
					(change)="yearChanged()"
					[clearable]="false"
					[searchable]="false"
					name="selectedYear"
					class="form-control analyst_multi_select">
				</ng-select>
			</div>
		</div>
		<div class="hs-actions">
			<button
				type="button"
				class="hs-btn hs-btn-outline"
				matTooltip="Review detailed country insights"
				(click)="goToCountryAnalysis()">
				Country Insights
				<i class="bi bi-box-arrow-up-right"></i>
			</button>
			<button
				*ngIf="aiPillars.length"
				type="button"
				class="hs-btn hs-btn-solid"
				matTooltip="Export pillar details"
				(click)="exportAiScores()">
				Export
				<i class="bi bi-download"></i>
			</button>
		</div>
	</div>

	<div class="hs-grid-2">
		<div class="hs-panel">
			<div class="hs-panel-title">
				<span><i class="bi bi-graph-up"></i> Country Performance</span>
				<div class="hs-legend">
					<span><span class="hs-dot hs-dot-gold"></span> Score</span>
				</div>
			</div>
			<div class="hs-chart-host" *ngIf="pillarChartOptions?.series?.length; else emptyPillar">
				<apx-chart
					[series]="pillarChartOptions!.series!"
					[chart]="pillarChartOptions!.chart!"
					[xaxis]="pillarChartOptions!.xaxis!"
					[yaxis]="pillarChartOptions!.yaxis!"
					[colors]="pillarChartOptions!.colors!"
					[tooltip]="pillarChartOptions!.tooltip!"
					[plotOptions]="pillarChartOptions!.plotOptions || {}"
					[legend]="pillarChartOptions!.legend!"
					[fill]="pillarChartOptions!.fill || {}"
					[dataLabels]="pillarChartOptions!.dataLabels!"
					[stroke]="pillarChartOptions!.stroke!"
					[markers]="pillarChartOptions!.markers!"
					[grid]="pillarChartOptions!.grid!">
				</apx-chart>
			</div>
			<ng-template #emptyPillar>
				<div class="ami-empty">Select a country to view performance scores.</div>
			</ng-template>
		</div>

		<div class="hs-panel">
			<div class="hs-panel-title">
				<span><i class="bi bi-pie-chart"></i> Country Overview</span>
			</div>
			<div class="hs-chart-host" *ngIf="radialChartOptions?.series?.length; else emptyRadial">
				<apx-chart
					[series]="radialChartOptions!.series!"
					[chart]="radialChartOptions!.chart!"
					[plotOptions]="radialChartOptions!.plotOptions!"
					[labels]="radialChartOptions!.labels!"
					[legend]="radialChartOptions!.legend!"
					[colors]="radialChartOptions!.colors!">
				</apx-chart>
			</div>
			<ng-template #emptyRadial>
				<div class="ami-empty">Country overview will appear here.</div>
			</ng-template>
		</div>
	</div>

	<div class="hs-index-section" *ngIf="selectedCountryID">
		<div class="signal-dashboard-wrap embedded ami-themed">
			<div class="dashboard_control_bar">
				<nav class="tab_head" aria-label="Dashboard modes">
					<button class="tab_btn" [class.active]="activeKpiTab === 'relational'" (click)="setKpiTab('relational')">
						<i class="bi bi-intersect"></i>
						<span>Relational Diagnostics</span>
					</button>
					<button class="tab_btn" [class.active]="activeKpiTab === 'composite'" (click)="setKpiTab('composite')">
						<i class="bi bi-hdd-stack"></i>
						<span>Composite Indices</span>
					</button>
				</nav>
			</div>
			<div class="tab_body">
				<app-dashboard-diagnostics-panel
					[mode]="activeKpiTab"
					[dashboard]="diagnosticsDashboard"
					[loading]="signalLoading"
					[selectedFamilyId]="selectedFamilyId"
					[countryName]="diagnosticsCountryName"
					[showManual]="false"
					(familyChange)="onFamilyChange($event)">
				</app-dashboard-diagnostics-panel>
			</div>
		</div>
	</div>
</div>

<div *ngIf="isLoader" class="loader_main">
	<div class="loader"></div>
</div>

<div *ngIf="chooseKpisLayers">
	<div class="modal fade modal_design" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden>
		<app-choose-kpis [pillars]="pillars" [loading]="loading" (kpiChange)="selectedKpisLayers($event)">
		</app-choose-kpis>
	</div>
</div>
